/** @format */

@import "./base.css";

body {
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

.app {
  height: 100vh;
  display: flex;
  background: linear-gradient(90deg, #000000, #161616);
  background-size: 5000%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.cdn {
  display: flex;
  width: 115%;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes movement {
  0% {
    width: 150px;
    height: 150px;
  }
  50% {
    width: 200px;
    height: 200px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes a {
  to {
    background-position: 200% 0;
  }
}

@keyframes changeBg {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

@media only screen and (max-width: 500px) {
  .sliding {
    font-size: 18px;
  }
  .links {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  a {
    color: white;
  }
  .dropbox {
    scale: 72%;
  }
}

@media only screen and (max-width: 600px) {
  .border {
    width: calc(100vw - 60px);
  }
}

@media only screen and (min-width: 500px) {
  .burger-menu {
    display: none;
  }
}
